**/*.img
**/*.xz
**/mnt/

**/fbsd/*
!**/fbsd/13.1/
**/fbsd/13.1/*

!**/fbsd/13.1/amd64/
**/fbsd/13.1/amd64/*
!**/fbsd/13.1/amd64/usr/
**/fbsd/13.1/amd64/usr/*
!**/fbsd/13.1/amd64/usr/local/
**/fbsd/13.1/amd64/usr/local/*
!**/fbsd/13.1/amd64/usr/local/etc/

!**/fbsd/13.1/arm64/
**/fbsd/13.1/arm64/*
!**/fbsd/13.1/arm64/usr/
**/fbsd/13.1/arm64/usr/*
!**/fbsd/13.1/arm64/usr/local/
**/fbsd/13.1/arm64/usr/local/*
!**/fbsd/13.1/arm64/usr/local/etc/

!**/fbsd/13.1/armv6/
**/fbsd/13.1/armv6/*
!**/fbsd/13.1/armv6/usr/
**/fbsd/13.1/armv6/usr/*
!**/fbsd/13.1/armv6/usr/local/
**/fbsd/13.1/armv6/usr/local/*
!**/fbsd/13.1/armv6/usr/local/etc/

!**/fbsd/13.1/armv7/
**/fbsd/13.1/armv7/*
!**/fbsd/13.1/armv7/usr/
**/fbsd/13.1/armv7/usr/*
!**/fbsd/13.1/armv7/usr/local/
**/fbsd/13.1/armv7/usr/local/*
!**/fbsd/13.1/armv7/usr/local/etc/

!**/fbsd/13.1/i386/
**/fbsd/13.1/i386/*
!**/fbsd/13.1/i386/usr/
**/fbsd/13.1/i386/usr/*
!**/fbsd/13.1/i386/usr/local/
**/fbsd/13.1/i386/usr/local/*
!**/fbsd/13.1/i386/usr/local/etc/

!**/fbsd/13.2/
**/fbsd/13.2/*

!**/fbsd/13.2/amd64/
**/fbsd/13.2/amd64/*
!**/fbsd/13.2/amd64/usr/
**/fbsd/13.2/amd64/usr/*
!**/fbsd/13.2/amd64/usr/local/
**/fbsd/13.2/amd64/usr/local/*
!**/fbsd/13.2/amd64/usr/local/etc/

!**/fbsd/13.2/arm64/
**/fbsd/13.2/arm64/*
!**/fbsd/13.2/arm64/usr/
**/fbsd/13.2/arm64/usr/*
!**/fbsd/13.2/arm64/usr/local/
**/fbsd/13.2/arm64/usr/local/*
!**/fbsd/13.2/arm64/usr/local/etc/

!**/fbsd/13.2/armv6/
**/fbsd/13.2/armv6/*
!**/fbsd/13.2/armv6/usr/
**/fbsd/13.2/armv6/usr/*
!**/fbsd/13.2/armv6/usr/local/
**/fbsd/13.2/armv6/usr/local/*
!**/fbsd/13.2/armv6/usr/local/etc/

!**/fbsd/13.2/armv7/
**/fbsd/13.2/armv7/*
!**/fbsd/13.2/armv7/usr/
**/fbsd/13.2/armv7/usr/*
!**/fbsd/13.2/armv7/usr/local/
**/fbsd/13.2/armv7/usr/local/*
!**/fbsd/13.2/armv7/usr/local/etc/

!**/fbsd/13.2/i386/
**/fbsd/13.2/i386/*
!**/fbsd/13.2/i386/usr/
**/fbsd/13.2/i386/usr/*
!**/fbsd/13.2/i386/usr/local/
**/fbsd/13.2/i386/usr/local/*
!**/fbsd/13.2/i386/usr/local/etc/

!**/fbsd/13.3/
**/fbsd/13.3/*

!**/fbsd/13.3/amd64/
**/fbsd/13.3/amd64/*
!**/fbsd/13.3/amd64/usr/
**/fbsd/13.3/amd64/usr/*
!**/fbsd/13.3/amd64/usr/local/
**/fbsd/13.3/amd64/usr/local/*
!**/fbsd/13.3/amd64/usr/local/etc/

!**/fbsd/13.3/arm64/
**/fbsd/13.3/arm64/*
!**/fbsd/13.3/arm64/usr/
**/fbsd/13.3/arm64/usr/*
!**/fbsd/13.3/arm64/usr/local/
**/fbsd/13.3/arm64/usr/local/*
!**/fbsd/13.3/arm64/usr/local/etc/

!**/fbsd/13.3/armv6/
**/fbsd/13.3/armv6/*
!**/fbsd/13.3/armv6/usr/
**/fbsd/13.3/armv6/usr/*
!**/fbsd/13.3/armv6/usr/local/
**/fbsd/13.3/armv6/usr/local/*
!**/fbsd/13.3/armv6/usr/local/etc/

!**/fbsd/13.3/armv7/
**/fbsd/13.3/armv7/*
!**/fbsd/13.3/armv7/usr/
**/fbsd/13.3/armv7/usr/*
!**/fbsd/13.3/armv7/usr/local/
**/fbsd/13.3/armv7/usr/local/*
!**/fbsd/13.3/armv7/usr/local/etc/

!**/fbsd/13.3/i386/
**/fbsd/13.3/i386/*
!**/fbsd/13.3/i386/usr/
**/fbsd/13.3/i386/usr/*
!**/fbsd/13.3/i386/usr/local/
**/fbsd/13.3/i386/usr/local/*
!**/fbsd/13.3/i386/usr/local/etc/
